<a href="https://colab.research.google.com/github/heejininku/Class2022Spring/blob/main/2022S7_pandas_ipynb_%EC%88%98%EC%97%85%EC%A0%95%EB%A6%AC(3.21).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

pandas라는 패키지를 안내함.
Data Analysis Library 라고 쓰여있는데 쉽게 그냥 엑셀 파일로 생각하면 된다.
보통 데이터들을 엑셀로 많이 정리함 - 행과 열이 있음.
엑셀 파일을 어떻게 불러오는지, 어떻게 manipulate 하는지를 pandas를 배우면 알 수 있음.

### Importing libraries

In [ ]:
import pandas as pd 
#사용하기 위해서 import 하는 것 (동시에 축약을 함)
#이미 install은 되었다고 생각하는 것임.

### Loading csv file

df 만드는 방법 1번 (가장 많이 이용이 된다. 2,3번처럼 하나하나 적는 게 말이 안되니까)

In [ ]:
df =pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
#read_csv  이게 function 인 것 pandas 안에 들어있음. 
#url 주소를 들어가면 예제 csv 파일이 들어있음. (사실 상 엑셀 파일인 것.)다운로드를 받음.(텍스트 파일로 열면 , 로 똑같은 양의 정보가 분리만 된 것뿐임) 
#csv 파일을 텍스트 파일(가독성이 낮음) 말고 엑셀 파일로 불러옴.
#지금 여기서 작동을 시키면 csv 파일을 불러서 read를 하고 df 라는 변수로 받음. 그럼 엑셀처럼 잘 보이게 됨. (형식이 같음)
#첫번째 row 에는 각각의 column 들의 정보가 있음 (longtitude.latitude----) (칼럼은 9개/ 로우는 17000개)
df #변수만 적어도 된다 (맨 마지막 줄이므로) (엑셀 타입의 변수를 부르는 말이 데이터 프레임 이기에 df 라고 칭한 것.)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
print(df.size); print(df.ndim); print(df.shape)
#df. size 는 17000x9 총 153000의 셀이다 / df.ndim은 몇차원인지 말하는 것 - 지금 2차원: 행이 한차원 칼럼이 두차원임/ df.shape 은 17000 rows 9 columms

153000
2
(17000, 9)

In [ ]:
df.describe()
#베이직한 통계 정보를 뽑아 줌.17000개의 칼럼 별로 총 숫자 몇개? (count)/ mean 값/표준편차 standard deviation/  min 최솟값/ max 최댓값 / 25% 는 min으로부터 25%/ 50%는 min으로부터 50%/ 75%는 min으로부터 75%

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

지금 현재는 메모리에 잡혀있는 변수의 형태임. 
파일로 저장하고 싶을 때는 df.to_csv('california_housing_train.csv') () 안에 파일명은 마음대로 해도 오케이/ 이런식으로 아래처럼 한다면 구글 컴퓨터에 파일이 만들어짐. 찐 컴퓨터에 담고 싶으면 옆에 파일 이모티콘에서 다시 다운로드

pandas 이용해서 위에서 파일형태가 csv 라는 df 로 리드 된거고 또 다시 변수인 df가 csv파일로 바꿔질 수 있다. (왔다갔다) 이거 해주는 게 팬더스

엑셀명은 엑셀인 프로그램에서만 쓰이는 형태일 뿐임. (.xlsx 이런 형태)
csv가 사실 원래 엑셀보다 유명하고 제너럴함

근데 엑셀로 왜 저장하게 될까? in 마이크로소프트에서?
이유: csv 는 단순한 텍스트 파일이기에 저장 안된다. 
그러나 엑셀은 색깔 바꾸고 그림 글자 폰트 변경/저장하고 이런 게 다 가능.
그러나 기본적인 data information 에 대해서는 그것이 그저 부가적인 것임.
진짜 value에 대한 것만 정리한 제너럴한 것이 CSV 임.

In [ ]:
df.to_csv('california_housing_train.csv')

### Constructing a DataFrame using dict
df 만드는 방법 2번

dict {} 이 있는 애. 아이템은 , 로 분류되고 각 아이템은 key와 : value로 구분이 된다.

csv 를 팬더스로 불러와서 df로 변수로 썼는데 
csv 파일을 통하여~ 하지 말고! 처음부터 정보를 가지고 우리가 칼럼, 셀 등을 바로 만들어 쓰는 법을 배울 것


manipulate와 access를 자유롭게 해주는 역할도 하는 팬더스

In [ ]:
# Some input data - a small sample of the iris dataset
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}
#개수는 맞아야 함 (value 들 보면 위에도 5개, 아래도 5개). key 부분이 칼럼 이름이라고 생각하면 된다. 또 VALUE 쪽에는 리스트의 형태로 5개의 아이템이 들어감.
#하나의 KEY& VALUE가 한 칼럼이 되는 것임. DATA를 이미 dict로 만들고 아래의 입력부분에 dict (data)를 넣어주기
df = pd.DataFrame(data) 
#pandas에 들어있는 function인 DataFrame임. csv파일을 통해서 read해서 df를 불러올 수도 있지만, 지금처럼 df를 dict를 통해서 df 만들 수 있음.
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Constructing a DataFrame using pd.Series

df 만드는 방법 3번.

한 칼럼에 해당하는 내용만을 pandas의 series함수로 만들 수 있음.

그리고 마지막에 pd.DataFrame 하고 

dict(칼럼명: 내용부분이름 아이템으로 이루어진)를 만들어주는 것임.

In [ ]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

이제는 우리가 이렇게 df 가 만들어진 것을
1. 필요한 특정정보만 indexing 을 해서 access 하는 방법을 배울 것.
2. 일부 내용 변경(수정)을 하는 방법을 배울 것.

### Changing column names

In [ ]:
df.columns
# df.columns 이렇게 해버리면 칼럼명만 등장함

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'SPECIES'],
      dtype='object')

In [ ]:
# Change the columns
#위에 보면 하나만 대문자 되어있어서 변경하고자 함.
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']
#리스트로 변경해서 바꿔놓고 다시 assign하고 df 실행해보면 칼럼명이 바뀌어있음.
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

일부분만 가지고 오고 싶은 경우는 아래

### Accessing columns

In [ ]:
# Access one column 
df.loc[:, 'sepal_length']
#df.loc[:, 'sepal_length'] 하면 (loc은 location이라는 뜻) , 에 왼쪽에 있는 부분은 row임. , 오른쪽에 있는 부분은 column임.
#그냥 :이 오면 전부 다라는 뜻 (여기서는 행에 대해서 전부 다 라는 의미/ 칼럼은'sepal_length' 부분만 가져오게 되는 것. )

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (short-hand)
# 더 간단히 하는 방법임 (위에 상황과 같은 것- 칼럼 명만 적으면 칼럼에 있는 모든 정보가 나옴)
df['sepal_length']

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [ ]:
# Access one column (shortest-hand)
#더더더 간단히 하는 방법임 (위에 상황과 같은 것- df. 하고 칼럼 명만 적으면 칼럼에 있는 모든 정보가 나옴)
df.sepal_length

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

두개의 칼럼도 가지고 올 수 있음.

In [ ]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]
# 두개의 칼럼을 , 로 리스트로 연결해서 표현하면 가능함

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [ ]:
# Access two columns (short-hand)
#더 간단한 방법- 대괄호를 하고 리스트 적기
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

이번에는 row 정보를 가지고 올 수도 있음.

### Accessing rows

In [ ]:
# Access one row #한 row 가져오기 
df.loc[3, :] # 몇번째 row와 모든 칼럼을 택하면 된다, (하나의 칼럼을 가지고 올 때와는 반대라고 생각하면 된다)
# 세로로 나오지만 row 정보임 (전체 표를 보면 알 수 있음)

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [ ]:
# Access two rows #두 개의 row를 가져오기
df.loc[[3, 0], :] # 몇번째 row를 원하는지 리스트로 적으면 된다.

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [ ]:
# Access a range of rows
df.loc[2:5, :]
# 이렇게 적게 된다면, 칼럼은 전부 다이고, 2,3,4 번째의 row만 가져오게 되는 것, (5번째는 제외됨)

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [ ]:
# Filter keeping only rows with `sepal_length` > 5
#유용하게 사용될 수 있음. -> sepal_length 5보다 큰 경우만 가지고 오는 것 (전체 표를 보면 0,1,3 row가 5보다 큼)
df[df.sepal_length > 5]

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

하나의 셀을 가지고 오고 싶은 경우는 아래처럼

### Accessing a cell

In [ ]:
df.loc[:, 'sepal_length'][4]
#방법1
#모든 row에서 이 sepal_length 칼럼을 가져오고 (처음에는 칼럼 전체를 가지고 왔다가 index해서 )그 중에서 4번째 것을 가지고 오는 상황

4.6

In [ ]:
df['sepal_length'][4]
#방법2 (위의 상황과 같은 실행임)

4.6

In [ ]:
df.sepal_length[4]
#방법3 (위의 상황과 같은 실행임)

4.6

통으로 하나의 칼럼을 더하고 싶거나 지우고 싶은 경우는 아래처럼

### Adding/Removing new columns

In [ ]:
df['new_column'] = 1
# df['new_column'] 이렇게 적는건 한 칼럼 access 하는 것임 이후에 1이 다 통으로 assign해버리는 것.
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [ ]:
df['new_column'] = [1, 2, 3, 4, 5]
# df['new_column'] 이렇게 적는건 한 칼럼 access 하는 것임 이후에 1,2,3,4,5를  assign해버리는 것.
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [ ]:
#한 칼럼을 빼고 싶을 때-> df = df.drop 하고, new column 을 찾아서 지우는 건데 이걸 칼럼에서 지울 수 있도록 # axis=1 이라고 적어준 것
#axis=0은 row 행 정보/ # axis=1 은 column 열 정보임
#그리고 꼭 시작에 df= 이라고 써야지만, df 업데이트가 가능함
df = df.drop('new_column', axis=1) # axis=1: column
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

이번에는 row를 더하거나 제거하는 방법임

### Adding/Removing new rows

새로운 row 만들기

In [ ]:
df.loc[5, :] = '' 
#row정보가  5로 써있음 (위에 표 보면 4까지 밖에 없기에 access 하면 에러이지만 뒤에 '' 이라는 아무것도 없는 blank 스트링을 assign해서 만듦
#칼럼은 모든 것에 대한 것이라는 얘기
#df 해보면 5번째 row는 스트링이 blank 인 걸로 채워져 있을 것임.
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5

이번에는 row를 지우는 과정

In [ ]:
#한 row를 빼고 싶을 때-> df = df.drop 하고, 5라는 row를 찾아서 지우는 건데 이걸 row 중에서 지울 수 있도록 # axis=0 이라고 적어준 것
#axis=0은 row 행 정보/ # axis=1 은 column 열 정보임
#그리고 꼭 시작에 df= 이라고 써야지만, df 업데이트가 가능함
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa